body{
  font-family: 'Montserrat';
}
#title {
  background-color: #ff4c68;
}


.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
  color: white;
}
h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

/* h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
    color: white;
} */

.container-fluid {
  padding: 3% 15%;
}
/* NavBar */
.navbar {
  padding:0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0%;
}

/* Tittle Image */

.title-image {
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
  z-index: 0;
}

.img-container {
  position:relative;
  z-index: 0;
}
@media (max-width: 990px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
  .img-container {
    position: static;
  }
  #features {
    z-index: -2;
  }
  #title {
    text-align: center;
  }
}

/* page 2 */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}
.page2-icons {
  margin:auto;
  font-size: 500%;
  color: #ef8172;
  margin-bottom: 1rem;
}

.page2-icons:hover {
  color: #ff4c68;
}

.try2 {
  text-align: center;
  padding: 5%
}

h3 {
  font-weight: 600;
}
p {
  color: #8f8f8f;
}


/* testimonials */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-pic {
  width: 10%;
  border-radius: 100%;
  margin: 10px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.logo-pics {
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item {
  padding: 7% 15%;
}
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-col {
  padding: 3% 2%;
}

#cta {
  text-align: center;
  background-color: #ff4c68;
  padding: 100px;
  font-family: 'Montserrat';
  color: white;
}
.ft-button {
  margin: 40px 20px;
}

.ft-text {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  text-align:center;
  margin: 80px;
}
.social-media-icons {
  font-size: 20px;
  margin: 15px;

}
.copyright  {
  margin: 20px;
  font-size: 20px;
}
